[submodule "repo/axi_video_gen"]
	path = repo/axi_video_gen
	url = git@github.com:redchenjs/axi_video_gen.git
[submodule "repo/axi_video_out"]
	path = repo/axi_video_out
	url = git@github.com:redchenjs/axi_video_out.git
